#portada{
    height: 250px;
    background: url('../images/portada1.jpg') no-repeat center;
}
#login{
    border-radius: 10px;
}
.active{
    font-weight: bold;
}
.img-profile-content{
    height: 200px;
    width: 200px;
    overflow: hidden;
}
#portada-home{
    background: url('../images/portada2.jpg') no-repeat center;
    background-size: cover;
}
.logo-menu{
    width: 50px;
}
.bg-menu{
    background-color: cornflowerblue;
}
.units-course{
    border: solid 1px black;
    border-radius: 5px;
}
#loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999999999;
}
.activo{
    font-style: italic;
    color: green;
}
.link{
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}
.btn-back{
    color: gray;
}
    .btn-back:hover{
        color: black;
        cursor: pointer;
    }