<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container" id="profesores">
        <div class="row pt-3">
            <div class="col-12">
                <h1 class="text-center">{{ title }}</h1>
            </div>
        </div>
        <hr>
        <div class="row pt-3">
            <div class="col-6">
                <button class="btn btn-success" data-toggle="modal" data-target="#nuevoProfesor" @click="getProfesores()">Nuevo Profesor</button>
            </div>
            <div class="col-6">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar" aria-describedby="button-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row pt-3">
            <div class="col-12">
                <div id="alert"></div>
            </div>
            <div class="col-12">
                <table class="table table-responsive table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>#</th>
                            <th>Nombre y Apellido</th>
                            <th>DNI</th>
                            <th>Email</th>
                            <th>&Uacute;ltima Conexi&oacute;n</th>
                            <th>&Uacute;ltima Actualizaci&oacute;n</th>
                            <th>Usuario de Actualizaci&oacute;n</th>
                            <th colspan="2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(prof, i) of profesores">
                            <td>{{ i+1 }}</td>
                            <td>{{ prof.apellido+', '+prof.nombre }}</td>
                            <td>{{ prof.DNI }}</td>
                            <td>{{ prof.email }}</td>
                            <td>{{ prof.ultimaConexion }}</td>
                            <td>{{ prof.actualizacion }}</td>
                            <td>{{ prof.apellidoActualizador+', '+prof.nombreActualizador }}</td>
                            <td>
                                <button class="btn btn-warning" title="Editar Profesor" @click="dataEditProf=prof" data-toggle="modal" data-target="#editProfesor"><i class="far fa-edit"></i></button>
                            </td>
                            <td>
                                <button class="btn btn-danger" title="Eliminar Profesor" @click="dataDeleteProf=prof" data-toggle="modal" data-target="#deleteProfesor"><i class="far fa-trash-alt"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Formulario Nuevo Curso -->
        <div class="modal fade" id="nuevoProfesor" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Nuevo Profesor</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="nombreProf">Nombre</label>
                                <input type="text" name="" id="nombreProf" class="form-control" v-model="newProf.nombre">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="apellidoProf">Apellido</label>
                                <input type="text" name="" id="apellidoProf" class="form-control" v-model="newProf.apellido">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="DNIProf">DNI</label>
                                <input type="number" name="" id="DNIProf" class="form-control" v-model.number="newProf.DNI">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="emailProf">Email</label>
                                <input type="email" name="" id="emailProf" class="form-control" v-model="newProf.email">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" @click="saveProfesor()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Formulario Editar Profesor -->
        <div class="modal fade" id="editProfesor" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Editar Profesor</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="editnombreProf">Nombre</label>
                                <input type="text" name="" id="editnombreProf" class="form-control" v-model="dataEditProf.nombre">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="editapellidoProf">Apellido</label>
                                <input type="text" name="" id="editapellidoProf" class="form-control" v-model="dataEditProf.apellido">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="editDNIProf">DNI</label>
                                <input type="number" name="" id="editDNIProf" class="form-control" v-model.number="dataEditProf.DNI">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="editemailProf">Email</label>
                                <input type="text" name="" id="editemailProf" class="form-control" v-model="dataEditProf.email">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" @click="editProfesor()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Borrar Profesor -->
        <div class="modal" tabindex="-1" role="dialog" id="deleteProfesor">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Borrar Profesor</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>¿Desea eliminar el alumno?</p>
                        <p>Profesor: {{ dataDeleteProf.apellido+', '+dataDeleteProf.nombre }}</p>
                        <p>DNI: {{ dataDeleteProf.DNI }} email: {{ dataDeleteProf.email }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" @click="deleteProfesor()">Borrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="app/profesores/profesores.js"></script>
</body>
</html>