<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="cursos">
        <div id="loading" class="text-center container-fluid" v-if="uploadingFile">
            <div class="row align-items-center justify-content-center vh-100">
                <p class="text-white">
                    <span class="spinner-border text-success" style="width: 3rem; height: 3rem;" role="status" aria-hidden="true"></span>
                    <span style="font-size: 3.8rem;" id="porcentLoad"></span>
                </p>
            </div>
        </div>
        
        <!-- Vista de Cursos -->
        <div class="container" v-if="!cargaCurricula">
            <div class="row pt-3">
                <div class="col-12">
                    <h1 class="text-center">{{ title }}</h1>
                </div>
            </div>
            <hr>
            <div class="row pt-3">
                <div class="col-6">
                    <button class="btn btn-success" data-toggle="modal" data-target="#nuevoCurso" @click="getProfesores()">Nuevo Curso</button>
                </div>
                <div class="col-6">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar" aria-describedby="button-addon2">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row pt-3">
                <div class="col-12">
                    <div id="alert"></div>
                </div>
                <div class="col-12">
                    <table class="table table-striped table-responsive">
                        <thead class="table-dark">
                            <tr>
                                <th>#</th>
                                <th>Materia</th>
                                <th>Especialidad</th>
                                <th>A&ntilde;o</th>
                                <th colspan="6"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(curso,i) of cursos">
                                <td>{{ i+1 }}</td>
                                <td>{{ curso.nombre }}</td>
                                <td>{{ curso.esp }}</td>
                                <td class="text-center">{{ curso.anio }}</td>
                                <td>
                                    <button class="btn btn-primary" title="Asignar Profesor" data-toggle="modal" data-target="#addProfCurso" @click="getProfesores(),dataAddProfCourse.course=curso,getProfAsig()"><i class="fas fa-plus"></i> <i class="fas fa-chalkboard-teacher"></i></button>
                                </td>
                                <td>
                                    <button class="btn btn-success" title="Asignar Alumno" data-toggle="modal" data-target="#addAlumCurso" @click="getAlumnos(),dataAddAlumCourse.course=curso,getAlumAsig()"><i class="fas fa-plus"></i> <i class="fas fa-user-graduate"></i></button>
                                </td>
                                <td>
                                    <button class="btn btn-info" title="Ver Curso" data-toggle="modal" data-target="#verCurso" @click="getAlumnos(),getProfesores(),getProfesoresCurso(),getAlumnosCurso(),dataCourse=curso,getViewCourse()"><i class="far fa-eye"></i></button>
                                </td>
                                <td>
                                    <button class="btn btn-dark" title="Cargar Curricula" @click="cargaCurricula=true,selectedCourse(curso),getCurricula()"><i class="fas fa-briefcase"></i></button>
                                </td>
                                <td>
                                    <button class="btn btn-warning" title="Editar Curso" data-toggle="modal" data-target="#editCurso" @click="dataCourseEdit=curso,verEdit()"><i class="fas fa-edit"></i></button>
                                </td>
                                <td>
                                    <button class="btn btn-danger" title="Borrar Curso" data-toggle="modal" data-target="#confDelete" @click="dataCourseDel=curso"><i class="far fa-trash-alt"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        

        <!-- Vista de Carga de Curricula -->
        <div class="container" id="curricula" v-if="cargaCurricula">
            <div class="row pt-3">
                <div class="col-1">
                    <button class="btn btn-primary" @click="cargaCurricula=false">Volver</button>
                </div>
                <div class="col-11">
                    <h1 class="text-center">{{ titleCurricula }}</h1>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12">
                    <p><b>Materia: </b>{{ dataSelectedCourse.nombre }}</p>
                    <p><b>Curso: </b>{{ dataSelectedCourse.anio }} <b>Especialidad: </b> {{ dataSelectedCourse.esp }}</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <!-- Esquema de Currucula -->
                <div class="col-md-4">
                    <ul>
                        <li v-for="(item, i) of curricula">
                            <b>Unidad N&deg;: {{ item.nro }} - {{ item.nombre }}</b>
                            <ul>
                                <li v-for="(act, j) of item.actividades">
                                    {{ act.nombre }}
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
    
                <!-- Construccion  de Curricula -->
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-12 sticky-top">
                            <div id="alert"></div>
                        </div>
                        <div class="col-12">
                            <div class="row units-course shadow-lg p-3 mt-2 mr-2" v-for="(units,i) of curricula">
                                <div class="col-12">
                                    <h3>Unidad N&deg;:{{ units.nro }} - {{ units.nombre }} <span class="btn btn-outline-danger" data-target="#confDeleteUnidad" data-toggle="modal" title="Borrar Unidad" @click="dataDeleteUnidad=units"><i class="far fa-trash-alt"></i></span></h3>
                                    <hr>
                                    <div class="row pl-5" v-for="(act,j) of units.actividades">
                                        <div class="col-12">
                                            <h4><i class="far fa-clipboard"></i> {{ act.nombre }} <span class="btn btn-outline-danger" data-toggle="modal" data-target="#confDeleteActividad" title="Borrar Actividad" @click="dataDeleteActividad=act,dataDeleteActividad.nro_unidad=units.nro"><i class="far fa-trash-alt"></i></span></h4>
                                            <hr>
                                            <div class="row pl-5">
                                                <div class="col-12">
                                                    <h5><b>Recursos:</b></h5>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <table class="table table-striped table-responsive">
                                                                <thead class="table-dark">
                                                                    <tr>
                                                                        <th>Tipo</th>
                                                                        <th>Link</th>
                                                                        <th></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr v-for="(rec,m) of act.recursos">
                                                                        <td><i class="far fa-file-alt"></i> <span class="text-uppercase">{{ rec.type }}:</span></td>
                                                                        <td><a :href="rec.url" target="_blank">{{ rec.url }}</a></td>
                                                                        <td>
                                                                            <button type="button" class="btn btn-danger close" data-toggle="modal" data-target="#confDeleteRecurso" aria-label="Close" title="Eliminar Recurso" @click="dataDeleteRecurso=rec">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row pt-2">
                                                <div class="col-12">
                                                    <button class="btn btn-info" data-toggle="modal" data-target="#nuevoRecurso" @click="idunits=units.idunits,idactivities=act.idactivities,idxUnidad=i">Nuevo Recurso</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pt-2">
                                        <div class="col-12">
                                            <button class="btn btn-warning" data-toggle="modal" data-target="#nuevaActividad" @click="idunits=units.idunits,idxUnidad=i">Nueva Actividad</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row py-5">
                                <div class="col-12">
                                    <button class="btn btn-primary" data-toggle="modal" data-target="#nuevaUnidad">Nueva Unidad</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    

            
        </div>


        <!-- Formulario Nuevo Curso -->
        <div class="modal fade" id="nuevoCurso" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Nuevo Curso</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-12">
                                <label for="nombreCurso">Nombre Materia</label>
                                <input type="text" name="" id="nombreCurso" class="form-control" v-model="newCurso.nombre">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="anioCurso">A&ntilde;o</label>
                                <input type="number" name="" id="anioCurso" class="form-control" v-model.number="newCurso.anio">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="espCurso">Especialidad</label>
                                <select id="espCurso" class="form-control" v-model="newCurso.esp">
                                    <option value="null">Seleccionar Especialidad</option>
                                    <option value="B">CICLO B&Aacute;SICO</option>
                                    <option value="E">ELECTROMECANICA</option>
                                    <option value="C">CONSTRUCCIONES</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" @click="saveCurso()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Formulario Editar Curso -->
        <div class="modal fade" id="editCurso" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Editar Curso</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-12">
                                <label for="nombreCursoEdit">Nombre Materia</label>
                                <input type="text" name="" id="nombreCursoEdit" class="form-control" v-model="dataCourseEdit.nombre">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="anioCursoEdit">A&ntilde;o</label>
                                <input type="number" name="" id="anioCursoEdit" class="form-control" v-model.number="dataCourseEdit.anio">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="espCursoEdit">Especialidad</label>
                                <select id="espCursoEdit" class="form-control" v-model="dataCourseEdit.especialidad">
                                    <option value="null">Seleccionar Especialidad</option>
                                    <option value="B">CICLO B&Aacute;SICO</option>
                                    <option value="E">ELECTROMECANICA</option>
                                    <option value="C">CONSTRUCCIONES</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" @click="editCurso()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Confirmar Borrado de Curso -->
        <div class="modal" tabindex="-1" role="dialog" id="confDelete">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Borrar Curso</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>¿Desea eliminar el curso?</p>
                        <p><b>CURSO:</b> {{ dataCourseDel.nombre }}</p>
                        <p><b>A&Ntilde;O:</b> {{ dataCourseDel.anio }} <b>ESP:</b> {{ dataCourseDel.esp }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" @click="deleteCurso()">Borrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Asignar Profesor -->
        <div class="modal fade" id="addProfCurso" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Asignar Profesor a Curso</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <p><b>Materia:</b> {{ dataAddProfCourse.course.nombre }}</p>
                                <p><b>Curso:</b> {{ dataAddProfCourse.course.anio }} <b>Especialidad:</b> {{ dataAddProfCourse.course.esp }}</p>
                                <p><b>Profesores:</b></p>
                                <ul>
                                    <li v-for="item of profAsigCurso">
                                        {{ item.apellido+', '+item.nombre+' - DNI: '+item.DNI }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="nameProfCurso">Asignar Nuevo Profesor</label>
                                <select id="nameProfCurso" class="form-control" v-model="dataAddProfCourse.teacher">
                                    <option value="null">Seleccionar Profesor</option>
                                    <option :value="prof" v-for="prof of profesores">{{ prof.apellido+', '+prof.nombre }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" @click="addProfCourse()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Asignar Alumno -->
        <div class="modal fade" id="addAlumCurso" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Asignar Alumno a Curso</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <p><b>Materia:</b> {{ dataAddAlumCourse.course.nombre }}</p>
                                <p><b>Curso:</b> {{ dataAddAlumCourse.course.anio }} <b>Especialidad:</b> {{ dataAddAlumCourse.course.esp }}</p>
                                <p><b>Alumnos:</b></p>
                                <ul>
                                    <li v-for="item of alumAsigCurso">
                                        {{ item.apellido+', '+item.nombre+' - DNI: '+item.DNI }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="nameProfCurso">Asignar Nuevo Alumno</label>
                                <select id="nameProfCurso" class="form-control" v-model="dataAddAlumCourse.student">
                                    <option value="null">Seleccionar Alumno</option>
                                    <option :value="alum" v-for="alum of alumnos">{{ alum.apellido+', '+alum.nombre+' - DNI:'+alum.DNI }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" @click="addAlumCourse()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mostrar Curso -->
        <div class="modal fade" id="verCurso" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Vista de Curso</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <p><b>Materia:</b> {{ dataCourse.nombre }}</p>
                                <p><b>Curso:</b> {{ dataCourse.anio }} <b>Especialidad:</b> {{ dataCourse.esp }}</p>
                                <p><b>Profesores:</b></p>
                                <table class="table table-hover table-responsive">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>#</th>
                                            <th>Apellido y Nombre</th>
                                            <th>DNI</th>
                                            <th>Email</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody class="">
                                        <tr v-for="(item,i) of profAsigCurso">
                                            <td>{{ i+1 }}</td>
                                            <td>{{ item.apellido+', '+item.nombre }}</td>
                                            <td>{{ item.DNI }}</td>
                                            <td>{{ item.email }}</td>
                                            <td>
                                                <button class="btn btn-danger" title="Borrar Profesor" data-toggle="modal" data-target="#confDeleteUser" @click="dataDeleteUserCourse=item"><i class="far fa-trash-alt"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p><b>Alumnos:</b></p>
                                <table class="table table-hover table-responsive">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>#</th>
                                            <th>Apellido y Nombre</th>
                                            <th>DNI</th>
                                            <th>Email</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody class="">
                                        <tr v-for="(item,i) of alumAsigCurso">
                                            <td>{{ i+1 }}</td>
                                            <td>{{ item.apellido+', '+item.nombre }}</td>
                                            <td>{{ item.DNI }}</td>
                                            <td>{{ item.email }}</td>
                                            <td>
                                                <button class="btn btn-danger" title="Borrar Alumno" data-toggle="modal" data-target="#confDeleteUser" @click="dataDeleteUserCourse=item"><i class="far fa-trash-alt"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Quitar Usuario del Curso -->
        <div class="modal" tabindex="-1" role="dialog" id="confDeleteUser">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Quitar Usuario del Curso</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>¿Desea quitar al <span v-if="dataDeleteUserCourse.role==='ROLE_TEACHER'">Profesor</span> <span v-if="dataDeleteUserCourse.role==='ROLE_STUDENT'">Alumno</span> ?</p>
                        <p>
                            <b v-if="dataDeleteUserCourse.role==='ROLE_TEACHER'">Profesor:</b>
                            <b v-if="dataDeleteUserCourse.role==='ROLE_STUDENT'">Alumno:</b>
                            {{ dataDeleteUserCourse.apellido+', '+dataDeleteUserCourse.nombre }}
                        </p>
                        <p>
                            <b>DNI:</b> {{ dataDeleteUserCourse.DNI }}
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="dataDeleteUserCourse={}">Cerrar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" @click="removeUserCourse()">Borrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Nueva unidad -->
        <div class="modal" tabindex="-1" role="dialog" id="nuevaUnidad">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Nueva Unidad</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="nombreUnidad">Nombre:</label>
                        <input type="text" name="" class="form-control" id="nombreUnidad" v-model="unidad.nombre">
                    </div>
                    <div class="form-group">
                        <label for="nroUnidad">N&uacute;mero:</label>
                        <input type="number" name="" class="form-control" id="nroUnidad" step="1" min="0" v-model.number="unidad.nro">
                    </div>
                    <div class="form-group">
                        <label for="descUnidad">Descripci&oacute;n:</label>
                        <textarea name="" id="descUnidad" class="form-control" cols="30" rows="10" v-model="unidad.descripcion"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" @click="agregarUnidad()">Guardar</button>
                </div>
                </div>
            </div>
        </div>

        <!-- Nueva actividad -->
        <div class="modal" tabindex="-1" role="dialog" id="nuevaActividad">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Nueva Actividad</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="nombreActividad">Nombre:</label>
                        <input type="text" name="" class="form-control" id="nombreActividad" v-model="actividad.nombre">
                    </div>
                    <div class="form-group">
                        <label for="descActividad">Descripci&oacute;n:</label>
                        <textarea name="" id="descActividad" class="form-control" cols="30" rows="10" v-model="actividad.descripcion"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" @click="agregarActividad(idxUnidad)">Guardar</button>
                </div>
                </div>
            </div>
        </div>

        <!-- Nuevo recurso -->
        <div class="modal" tabindex="-1" role="dialog" id="nuevoRecurso">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Nuevo Recurso</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="tipoRecurso">Tipo:</label>
                            <select name="" class="form-control" id="tipoRecurso" v-model="recurso.type">
                                <option value="null">Seleccionar Tipo</option>
                                <option value="pdf">PDF</option>
                                <option value="word">WORD</option>
                                <option value="img">IMAGEN</option>
                                <option value="youtube">VIDEO YOUTUBE</option>
                                <option value="mp4">VIDEO .MP4</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div v-if="recurso.type==='youtube'">
                                <label for="urlRecurso">URL:</label>
                                <input type="text" name="" class="form-control" id="urlRecurso" v-model="recurso.url">
                            </div>
                            <div class="input-group mb-3 overflow-hidden" v-if="(recurso.type!='youtube')&&(recurso.type!=null)&&(recurso.type!=null)">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupFileAddon01"><i class="fas fa-cloud-upload-alt"></i> </span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" v-if="recurso.type==='pdf'" accept="application/pdf" class="custom-file-input" id="fileRecurso" name="fileRecurso" ref="fileRecurso" aria-describedby="inputGroupFileAddon01" @change="nameFileSelect()">
                                    <input type="file" v-if="recurso.type==='word'" accept=".doc,.docx,.odt" class="custom-file-input" id="fileRecurso" name="fileRecurso" ref="fileRecurso" aria-describedby="inputGroupFileAddon01" @change="nameFileSelect()">
                                    <input type="file" v-if="recurso.type==='img'" accept="image/*" class="custom-file-input" id="fileRecurso" name="fileRecurso" ref="fileRecurso" aria-describedby="inputGroupFileAddon01" @change="nameFileSelect()">
                                    <input type="file" v-if="recurso.type==='mp4'" accept="video/mp4" class="custom-file-input" id="fileRecurso" name="fileRecurso" ref="fileRecurso" aria-describedby="inputGroupFileAddon01" @change="nameFileSelect()">
                                    <label class="custom-file-label" for="inputGroupFile01" id="labelInput">Seleccionar archivo</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" @click="agregarRecurso(idxUnidad)">Guardar</button>
                </div>
                </div>
            </div>
        </div>

        <!-- Borrar Recurso -->
        <div class="modal" tabindex="-1" role="dialog" id="confDeleteRecurso">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Borrar Recurso</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>¿Desea eliminar el recurso?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" @click="deleteRecurso()">Borrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Borrar Actividad -->
        <div class="modal" tabindex="-1" role="dialog" id="confDeleteActividad">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Borrar Actividad</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>¿Desea eliminar la Actividad?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" @click="deleteAct()">Borrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Borrar Unidad -->
        <div class="modal" tabindex="-1" role="dialog" id="confDeleteUnidad">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Borrar Unidad</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>¿Desea eliminar la Unidad {{ dataDeleteUnidad.nro }}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" @click="deleteUnits()">Borrar</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <script src="app/cursos/cursos.js"></script>
</body>
</html>