<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container" id="home">
        <div class="row bg-light">
            <div class="col-md-8 p-5">
                <h2 class="text-justify text-dark">{{ title }}</h2>
                <p class="h5 text-secondary text-justify pt-2">
                    <!-- El Curso Virtual de la EET N&deg; 21 es un Sistema de Gesti&oacute;n de Contenido Educativo el cual integra las nuevas tecnolog&iacute;as  -->
                    Mi Aula Virtual es un proyecto educativo que comprende un Sistema de Gesti&oacute;n de Contenido Educativo 
                    el cual integra las nuevas tecnolog&iacute;as a los procesos educativos aprovechando las potencialidades que estas ofrecen.
                    Nuestro prop&oacute;sito es que los estudiantes puedan acceder de forma r&aacute;pida y efectiva al material educativo, 
                    asi como el contacto continuo con los docentes de las catedras para mantener un estrecho seguimiento del aprendizaje.
                </p>
            </div>
            <div class="col-md-4 p-5" id="portada-home"></div>
        </div>
    </div>
    <script src="app/home/home.js"></script>
</body>
</html>