<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container" id="profesores">
        <div class="row pt-3">
            <div class="col-12">
                <h1 class="text-center">{{ title }}</h1>
            </div>
        </div>
        <hr>
        <div class="row pt-3">
            <div class="col-6">
                <button class="btn btn-success" data-toggle="modal" data-target="#nuevoAlumno">Nuevo Alumno</button>
            </div>
            <div class="col-6">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar" aria-describedby="button-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row pt-3">
            <div class="col-12">
                <div id="alert"></div>
            </div>
            <div class="col-12">
                <table class="table table-responsive table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>#</th>
                            <th>Nombre y Apellido</th>
                            <th>DNI</th>
                            <th>Email</th>
                            <th>&Uacute;ltima Conexi&oacute;n</th>
                            <th>&Uacute;ltima Actualizaci&oacute;n</th>
                            <th>Usuario de Actualizaci&oacute;n</th>
                            <th colspan="2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(alum, i) of alumnos">
                            <td>{{ i+1 }}</td>
                            <td>{{ alum.apellido+', '+alum.nombre }}</td>
                            <td>{{ alum.DNI }}</td>
                            <td>{{ alum.email }}</td>
                            <td>{{ alum.ultimaConexion }}</td>
                            <td>{{ alum.actualizacion }}</td>
                            <td>{{ alum.apellidoActualizador+', '+alum.nombreActualizador }}</td>
                            <td>
                                <button class="btn btn-warning" title="Editar Alumno" @click="dataEditAlum=alum" data-toggle="modal" data-target="#editAlumno"><i class="far fa-edit"></i></button>
                            </td>
                            <td>
                                <button class="btn btn-danger" title="Eliminar Alumno" @click="dataDeletAlum=alum" data-toggle="modal" data-target="#deleteAlumno"><i class="far fa-trash-alt"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Formulario Nuevo Alumno -->
        <div class="modal fade" id="nuevoAlumno" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Nuevo Alumno</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="nombreAlum">Nombre</label>
                                <input type="text" name="" id="nombreAlum" class="form-control" v-model="nuevoAlum.nombre">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="apellidoAlum">Apellido</label>
                                <input type="text" name="" id="apellidoAlum" class="form-control" v-model="nuevoAlum.apellido">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="DNIAlum">DNI</label>
                                <input type="number" name="" id="DNIAlum" class="form-control" v-model.number="nuevoAlum.dni">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="emailAlum">Email</label>
                                <input type="text" name="" id="emailAlum" class="form-control" v-model="nuevoAlum.email">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" @click="saveAlumno()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Formulario Editar Alumno -->
        <div class="modal fade" id="editAlumno" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Editar Datos de Alumno</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="editnombreAlum">Nombre</label>
                                <input type="text" name="" id="editnombreAlum" class="form-control" v-model="dataEditAlum.nombre">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="editapellidoAlum">Apellido</label>
                                <input type="text" name="" id="editapellidoAlum" class="form-control" v-model="dataEditAlum.apellido">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="editDNIAlum">DNI</label>
                                <input type="number" name="" id="editDNIAlum" class="form-control" v-model.number="dataEditAlum.DNI">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="editemailAlum">Email</label>
                                <input type="text" name="" id="editemailAlum" class="form-control" v-model="dataEditAlum.email">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" @click="editAlumno()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Borrar Alumno -->
        <div class="modal" tabindex="-1" role="dialog" id="deleteAlumno">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Borrar Alumno</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>¿Desea eliminar el alumno?</p>
                        <p><b>Alumno:</b> {{ dataDeletAlum.apellido+', '+dataDeletAlum.nombre }}</p>
                        <p><b>DNI:</b> {{ dataDeletAlum.DNI }} <b>email:</b> {{ dataDeletAlum.email }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" @click="deleteAlumno()">Borrar</button>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <script src="app/alumnos/alumnos.js"></script>
</body>
</html>