<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="miscursos">
        <!-- Vista del listado de cursos -->
        <div class="container" v-if="!verCurricula">
            <div class="row pt-3">
                <div class="col-12">
                    <h1 class="text-center">{{ title }}</h1>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12">
                    <table class="table table-striped table-responsive">
                        <thead class="table-dark">
                            <tr>
                                <th>#</th>
                                <th>Materia</th>
                                <th>Especialidad</th>
                                <th>A&ntilde;o</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(curso,i) of cursos">
                                <td>{{ i+1 }}</td>
                                <td>{{ curso.nombre }}</td>
                                <td>{{ curso.esp }}</td>
                                <td class="text-center">{{ curso.anio }}</td>
                                <th>
                                    <button v-if="usuario.role==='ROLE_TEACHER'" class="btn btn-info" title="Ver Curso" data-toggle="modal" data-target="#verCurso" @click="dataCourse=curso,getViewCourse()"><i class="far fa-eye"></i></button>
                                    <button class="btn btn-primary" title="Mostrar Curricula" @click="verCurricula=true,dataCourse=curso,getCurricula(),getViewCourse()"><i class="fas fa-briefcase"></i></button>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Vista de la Curricula -->
        <div class="container-fluid pb-5" v-if="verCurricula">
            <div class="row pt-3">
                <div class="col-12">
                    <h1 class="text-center" :class="{ h3 : screenWidth < 730 }">
                        <span class="border-right pr-3 btn-back" @click="verCurricula=false" title="Volver"><i class="fas fa-chevron-circle-left"></i> </span>
                        {{ dataCourse.nombre }}
                    </h1>
                </div>
            </div>
            <hr>
            <div class="row pt-3">
                <div class="col-12">
                    <p>
                        <b>Especialidad: </b> {{ dataCourse.esp }}
                        <b>Curso: </b>{{ dataCourse.anio }}&deg;
                    </p>
                    <p v-if="usuario.role==='ROLE_STUDENT'">
                        <b>Profesores:</b>
                        <ul v-if="usuario.role==='ROLE_STUDENT'">
                            <li v-for="prof of profAsigCurso">
                                {{ prof.apellido+' ,'+prof.nombre }}
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12">
                    <div id="alert"></div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-12">
                            <p class="text-left"><b>Unidades de la Curricula:</b></p>
                        </div>
                    </div>
                    <nav class="navbar sticky-top navbar-expand-lg navbar-light" :class="{ border : screenWidth<992 }">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarUnits" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse col-12" id="navbarUnits">
                            <ul class="nav flex-column">
                                <li class="nav-item" v-for="(item, i) of curricula">
                                    <a class="nav-link" :class="{ activo : item.nro===selectUnit , link : item.nro!=selectUnit }" :href="'#unidad'+item.nro" @click="selectUnit=item.nro,loadCurricula(),mostrarAct=null"><b>Unidad N&deg;: {{ item.nro }} - {{ item.nombre }}</b></a>
                                    <ul class="nav flex-column pl-3" v-if="item.nro===selectUnit">
                                        <li class="nav-item" v-for="(act, j) of item.actividades">
                                            <a class="nav-link" :href="'#actividad'+act.idactivities" @click="mostrarAct=act.idactivities" :class="{ activo : mostrarAct===act.idactivities , link : mostrarAct!=act.idactivities }">
                                                {{ act.nombre }}
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-lg-8">
                    <div class="row" v-for="(units,i) of selectCurricula">
                        <div class="col-12">
                            <h3>Unidad N&deg;:{{ units.nro }} - {{ units.nombre }} </h3>
                            <hr>
                            <p class="h5 text-justify">{{ units.descripcion }}</p>
                            <hr>
                            <div class="row" v-for="(act,j) of units.actividades" :id="'actividad'+act.idactivities" v-if="act.idactivities===mostrarAct">
                                <div class="col-12">
                                    <hr>
                                    <h4><i class="far fa-clipboard"></i> {{ act.nombre }} </h4>
                                    <hr>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="mt-5 border" v-for="(rec,m) of act.recursos">
                                                <div v-if="rec.type==='youtube'">
                                                    <div class="embed-responsive embed-responsive-16by9">
                                                        <iframe class="embed-responsive-item" :src="rec.url" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                    </div>
                                                </div>
                                                <div v-if="rec.type==='pdf'">
                                                    <embed :src="rec.url" type="application/pdf" width="100%" height="600px" />
                                                    <a :href="rec.url" class="h5" target="_blank"><i class="far fa-file-pdf text-danger"></i> Descargar Archivo</a>
                                                </div>
                                                <div v-if="rec.type==='mp4'" class="text-center">
                                                    <video width="100%" height="auto" controls>
                                                        <source :src="rec.url" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
                                                    </video>
                                                </div>
                                                <div v-if="rec.type==='img'">
                                                    <img :src="rec.url" width="100%" height="auto" :alt="'img-'+act.nombre">
                                                </div>
                                                <div v-if="rec.type==='word'">
                                                    <a :href="rec.url" class="h5" target="_blank"><i class="far fa-file-word text-primary"></i> {{ rec.url }} - Descargar Archivo</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <!-- Vetana modal Mostrar Curso -->
        <div class="modal fade" id="verCurso" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Vista de Curso</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <p><b>Materia:</b> {{ dataCourse.nombre }}</p>
                                <p><b>Curso:</b> {{ dataCourse.anio }} <b>Especialidad:</b> {{ dataCourse.esp }}</p>
                                <p><b>Profesores:</b></p>
                                <table class="table table-hover table-responsive">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>#</th>
                                            <th>Apellido y Nombre</th>
                                            <th>DNI</th>
                                            <th>Email</th>
                                        </tr>
                                    </thead>
                                    <tbody class="">
                                        <tr v-for="(item,i) of profAsigCurso">
                                            <td>{{ i+1 }}</td>
                                            <td>{{ item.apellido+', '+item.nombre }}</td>
                                            <td>{{ item.DNI }}</td>
                                            <td>{{ item.email }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p><b>Alumnos:</b></p>
                                <table class="table table-hover table-responsive">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>#</th>
                                            <th>Apellido y Nombre</th>
                                            <th>DNI</th>
                                            <th>Email</th>
                                        </tr>
                                    </thead>
                                    <tbody class="">
                                        <tr v-for="(item,i) of alumAsigCurso">
                                            <td>{{ i+1 }}</td>
                                            <td>{{ item.apellido+', '+item.nombre }}</td>
                                            <td>{{ item.DNI }}</td>
                                            <td>{{ item.email }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="cerrarVistaCurso()">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="app/miscursos/miscursos.js"></script>
</body>
</html>